section{
    width: 600px;
    min-height: 30px;
    background-color: #3c3269;
    margin: 0 auto;
    border-radius: 8px;
    text-align: justify;
    text-align: center;
    font-size: 25px;
    padding: 9px;
}